doctype html
html
  head
    meta(charset='utf-8')
    title Overcast Health Charts
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    if environment !== 'test'
      link(href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='/bower/font-awesome/css/font-awesome.min.css?' + timestamp, rel='stylesheet', type='text/css')
    link(href='/bundled/app.css?' + timestamp, rel='stylesheet', type='text/css')
    script(src='/bundled/lib.js?' + timestamp)
    script(src='/bundled/templates.js?' + timestamp)
    script(src='/bundled/app.js?' + timestamp)
    if environment === 'development'
      script(src='//localhost:35729/livereload.js')

  body
    #content
